@model BookingsTrips.Models.Trip

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdultPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdultPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeenPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeenPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BabyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BabyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedOn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
