@using BookingsTrips.Helper;

@model BookingsTrips.Models.ViewModels.TripDetailsViewModel

@{
    ViewBag.Title = "تفاصيل الرحلة";
}

<h2>تفاصيل الرحلة السياحية</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <h4>بيانات الرحلة:</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StartPoint)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartPoint)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndPoint)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndPoint)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FromDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FromDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ToDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ToDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cost) ج.م
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdultPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdultPrice) ج.م
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TeenPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeenPrice) ج.م
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChildPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChildPrice) ج.م
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BabyPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BabyPrice) ج.م
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditedOn)
            </dd>
        </dl>
    </div>

    <div class="col-md-6">
        <h4>أسعار الكبائن:</h4>
        @foreach (var item in Model.TripDetailsCabinsPrices)
        {
            <label class="control-label">@item.FloorNumber.FloorNumber_AR():</label>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => item.TripSingleCabinsPrice)
                </dt>
                @if (item.FloorSingleCabinsCount == 0)
                {
                    <dd class="text-warning">لا توجد كبائن فردي في هذا الدور</dd>
                }
                else
                {
                    <dd>
                        @Html.DisplayFor(model => item.TripSingleCabinsPrice) ج.م
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => item.TripDoubleCabinsPrice)
                </dt>
                @if (item.FloorDoubleCabinsCount == 0)
                {
                    <dd class="text-warning">لا توجد كبائن زوجي في هذا الدور</dd>
                }
                else
                {
                    <dd>
                        @Html.DisplayFor(model => item.TripDoubleCabinsPrice) ج.م
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => item.TripTripleCabinsPrice)
                </dt>
                @if (item.FloorTripleCabinsCount == 0)
                {
                    <dd class="text-warning">لا توجد كبائن ثلاثي في هذا الدور</dd>
                }
                else
                {
                    <dd>
                        @Html.DisplayFor(model => item.TripTripleCabinsPrice) ج.م
                    </dd>
                }
            </dl>
        }
    </div>

    <div class="form-group col-md-12 text-center">
        @Html.ActionLink("تعديل الرحلة", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" }) &nbsp;
        @Html.ActionLink("إلغاء", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>


@section Styles
{
    <style type="text/css">
        .dl-horizontal dt {
            min-width: 300px !important;
        }
    </style>
}