@using BookingsTrips.Helper;

@model BookingsTrips.Models.ViewModels.BoatDetailsViewModel

@{
    ViewBag.Title = "تفاصيل المركب";
}

<h2>تفاصيل المركب</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <h4><span class="glyphicon glyphicon-ok-sign"></span> بيانات المركب:</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FromDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FromDate) م
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ToDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ToDate) م
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FloorsCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FloorsCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsersCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsersCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn) م
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditedOn) م
            </dd>

        </dl>

        <h4><span class="glyphicon glyphicon-ok-sign"></span> أعداد الكبائن:</h4>
        @foreach (var item in Model.BoatDetailsFloorCabinsCounts)
        {
            <label class="control-label"><span class="glyphicon glyphicon-circle-arrow-left"></span> @item.FloorNumber.FloorNumber_AR():</label>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => item.FloorSingleCabinsCount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => item.FloorSingleCabinsCount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => item.FloorDoubleCabinsCount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => item.FloorDoubleCabinsCount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => item.FloorTripleCabinsCount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => item.FloorTripleCabinsCount)
                </dd>
            </dl>
        }
    </div>
    <div class="col-md-6">
        <h4><span class="glyphicon glyphicon-ok-sign"></span> توزيع الكبائن على المستخدمين:</h4>
        @foreach (var item in Model.BoatDetailsFloorCabinsCounts)
        {
            <label class="control-label"><span class="glyphicon glyphicon-circle-arrow-left"></span> @item.FloorNumber.FloorNumber_AR():</label>
            for (int i = 0; i < item.BoatDetailsUserCabinsCounts.Count; i++)
            {
                <h5 class="control-label"><span class="glyphicon glyphicon-user"></span> المستخدم: @Html.DisplayFor(model => item.BoatDetailsUserCabinsCounts[i].UserFullName)</h5>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => item.BoatDetailsUserCabinsCounts[i].UserSingleCabinsCount)
                    </dt>
                    @if (item.FloorSingleCabinsCount == 0)
                    {
                        <dd class="text-warning">لا توجد كبائن فردي في هذا الدور</dd>
                    }
                    else
                    {
                        <dd>
                            @Html.DisplayFor(model => item.BoatDetailsUserCabinsCounts[i].UserSingleCabinsCount)
                        </dd>
                    }
                    <dt>
                        @Html.DisplayNameFor(model => item.BoatDetailsUserCabinsCounts[i].UserDoubleCabinsCount)
                    </dt>
                    @if (item.FloorDoubleCabinsCount == 0)
                    {
                        <dd class="text-warning">لا توجد كبائن زوجي في هذا الدور</dd>
                    }
                    else
                    {
                        <dd>
                            @Html.DisplayFor(model => item.BoatDetailsUserCabinsCounts[i].UserDoubleCabinsCount)
                        </dd>
                    }
                    <dt>
                        @Html.DisplayNameFor(model => item.BoatDetailsUserCabinsCounts[i].UserTripleCabinsCount)
                    </dt>
                    @if (item.FloorTripleCabinsCount == 0)
                    {
                        <dd class="text-warning">لا توجد كبائن ثلاثي في هذا الدور</dd>
                    }
                    else
                    {
                        <dd>
                            @Html.DisplayFor(model => item.BoatDetailsUserCabinsCounts[i].UserTripleCabinsCount)
                        </dd>
                    }
                    </dl>
            }
        }
    </div>

    <div class="form-group col-md-12 text-center">
        @Html.ActionLink("تعديل المركب", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" }) &nbsp;
        @Html.ActionLink("إلغاء", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>

@section Styles
{
    <style type="text/css">
        .dl-horizontal dt {
            min-width: 240px !important;
        }
    </style>
}