@model IEnumerable<BookingsTrips.Models.ViewModels.CustomerIndexViewModel>

@{
    ViewBag.Title = "العملاء";
}

<h2>العملاء</h2>

<p>
    @Html.ActionLink("عميل جديد", "Create", null, new { @class = "btn btn-primary" })
</p>
<p>
    @using (Html.BeginForm("Index", "Customer", FormMethod.Get))
    {
        <div class="form-group">
            @Html.TextBox("searchText", null, htmlAttributes: new { @class = "form-control col-md-6", @placeholder = "بحث بإسم العميل أو برقم الموبايل", @minlength = "7" })
            <div class="col-md-2">
                <input type="submit" value="بحث" class="btn btn-info" />
            </div>
        </div>
    }
</p>
<table id="tblCustomers" class="table table-striped">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastCalls)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <ul>
                        @foreach (var call in item.LastCalls)
                        {
                        <li><span>@call.CreatedOn.ToString("yyyy/MM/dd")</span>&nbsp;-&nbsp;<span>@call.Note</span></li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("إضافة اتصال", "CreateCall", new { id = item.Id }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("كل الاتصالات", "CustomerCalls", new { id = item.Id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#tblCustomers').DataTable({
                "searching": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Arabic.json"
                }
            });
        });

        // custom validation message to minlength in search text
        var email = document.getElementById("searchText");
        email.addEventListener("input", function (event) {

            if (email.validity.tooShort) {
                event.target.setCustomValidity("لابد على الأقل من كتابة 7 أحرف أو أرقام !");
            }
            else {
                event.target.setCustomValidity("");
            }
        });
    </script>
}